img {
    padding: 2%;
  }
  
  h3 {
    color: white;
    text-align: center;
  }
  
  p {
    color: white;
  }
  
  ::placeholder {
    color: rgb(190, 190, 190);;
  }
  
  .buttonInside {
    position: relative;
    margin-bottom: 10px;
  }
  
  #icon {
    position: absolute;
    top: 10px;
    left: 10px;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    outline: none;
    font-weight: bold;
    background-color: transparent;
    color: rgb(190, 190, 190);
    font-size: 20px;
  }
  
  .iconInside {
    position: relative;
    margin-bottom: 10px;
  }
  
  .form-box {
    max-width: 30vw;
    min-width: 250px;
    padding: 3%;
    border-radius: 0;
    background-color: #304d6d;
    margin-top: -80px;
  }
  
  .form-control {
    border-radius: 0;
    padding-left: 40px;
  }
  
  .btn {
    border: none;
    border-radius: 0;
    background-color: #00bfb2;
    color: white;
    width: 200px;
  }
  
  .btn:hover {
    background-color: #06b1a5;
  }
  
  #accessLevel {
    
  }