<app-sidebar-menu></app-sidebar-menu>
<app-sidebar-names></app-sidebar-names>

<div *ngIf="!isUserLoggedIn">
  <img src="../../assets/img/flow.png">
  <div class="form-box mx-auto shadow">
    <div class="form-top pb-4">
      <h3>Csoport készítése</h3>
    </div>

    <div class="form-bottom">
      <form role="form" #form="ngForm" class="registration-form">
        <div class="form-group iconInside">
          <label class="sr-only" for="group"></label>
          <i class="fa fa-group" id="icon"></i>
          <input type="text" id="group" class="form-control" name="group" #name="ngModel" [(ngModel)]="groupRegistration.name"
            placeholder="Név" userName />
        </div>
     
       

        <button (click)="addGroup()" class="btn btn-block mt-5 mx-auto">Létrehozás</button>
      </form>
    </div>
  </div>
</div>