
  .form-box {
    max-width: 30vw;
    min-width: 250px;
    background-color: white;
    padding: 3%;
    margin-top: auto;
    border-radius: 0;
    border: 2px solid #00bfb2;
    z-index: 11111;
  }
  
 
  
  .alertmsg {
      text-align: center
  }
