.logs {
    width: 100%;
    color: #304d6d;
    background-color: white;
    border: 1px solid #304d6d;
    border-left: 10px solid #304d6d;
    border-right: 2px solid #304d6d;
    padding: 5px;
    height: 40px;   
}

.showfield {
    background-color:white;
    border: 0;
    color: #304d6d;
    font-size: 16px;
    height: 32px !important;
    width: 175px;
    margin-top: -1px;
}

.editfield {
    background-color: rgb(220, 220, 220);
    border: 0;
    color: #304d6d;
    font-size: 16px;
    height: 32px !important;
    border: 1px solid #304d6d;
    padding-left: 5px;
    width: 175px;
    margin-top:-1px;
}
button {
    background-color: white;
    color: #304d6d;
    float: right;
    border: 0;
    width: 30px;
}

button:hover {
    color: #304d6d
}


h3 {
    margin: 10px 0 0 10px;
}

.input {
    height: 24px !important;
    padding-left: 12px;
}

.icons{
    width: 50px;
    background-color: puprle;
}