h3 {
  color: white;
  text-align: center;
  padding: 20px 0;
}

p {
  color: #757575;
}

.form-top {
  width: 100%;
  background-color: #304d6d;
}

#icon {
  outline: none;
  color: #757575;

}


.buttonInside {
  position: relative;
  margin-bottom: 10px;
}

.form-box {
  max-width: 30vw;
  min-width: 250px;
  border-radius: 8px;
  margin: 0px 0 30px 0;
  border: 2px solid #304d6d;
  background-color: white;
}


.btn {
  border: none;
  border-radius: 0;
  background-color: #304d6d;
  color: white;
  width: 200px;
}

.btn:hover {
  background-color: #06b1a5;
}
.example-container {
  display: flex;
  flex-direction: column;
  padding: 8%;
}

.example-container > * {
  width: 100%;
}

mat-form-field{
  width: 100%;
}

.span {
  width: 50px;
}

.forgotP {
  color: rgb(190, 190, 190);
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}

.forgotP:hover {
  color: rgb(170, 170, 170);
}

.body {
  position: relative;
  z-index: 1;
}

.bgIMG {
  background: url('https://previews.123rf.com/images/stillfx/stillfx1009/stillfx100900063/7733415-reloj-y-calendario-sobre-fondo-de-color-.jpg')  center center;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .1;
  margin-top: -20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

IMG {
  padding: 2%;
}