<div class="body">
  <div class="bgIMG"></div>
  <img id="logo" src="../../assets/img/flow.png">
  <div class="form-box mx-auto shadow">
    <div class="form-top pb-4">
      <h3>Login</h3>
    </div>

    <div class="example-container">
      <form role="form" #form="ngForm" class="registration-form">

        <mat-form-field>
          <label class="sr-only" for="email">Email</label>
          <span matPrefix><i class="fa fa-envelope" id="icon" style="margin: 0 8px"></i></span>
          <input matInput pe="text" id="email" name="email" #email="ngModel" [(ngModel)]="userLogin.email" placeholder="E-mail address"
            email />
        </mat-form-field>

        <mat-form-field>
          <label class="sr-only" for="password">Password</label>
          <span matPrefix><i class="fa fa-user" id="icon" style="margin: 0 11px"></i></span>
          <input matInput type="password" id="password" name="password" #email="ngModel" [(ngModel)]="userLogin.password"
            placeholder="Password" email />
        </mat-form-field>

        <button (click)="login()" class="btn btn-block mt-5 mx-auto">SIGN IN</button>
        <p class="forgotP pt-4">Forgot password?</p>
      </form>
    </div>

  </div>
</div>