.header{
  background-color: white;
  border-left: 10px solid #304d6d;
  border-right: 2px solid #304d6d;
  border-bottom: 1px solid #304d6d;
  padding-left: 16px;
  
}

.headertag {
  font-size: 16px;
  height: 32px !important;
  background-color: white;
  width: 175px;
  margin-top: 6px;
}

p {
  color: #00bfb2;
  font-weight: bold;
}