.sidebar-menu {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 0;
    left: 0px;
    top: 0px;
    background-color: #304d6d;
    overflow-x: hidden;
    overflow-y: scroll;
  }

   .buttons {
    padding: 10px;
  }
   .btn {
    color: white;
    background-color: #00bfb2;
    border-radius: 0;
    width: 75px;
    height: 75px;
    margin: 17px 0 17px 15px !important;
    border-radius: 0.5rem;
  }
   .btn:hover {
    background-color: #088078;
  }
   i {
    font-size: 40px;
  } 
#logo {
    width: 80px;
    margin-left: -11px
}

.tooltip-right {
    background: #00bfb2
}