<div class="container">
  <div class="row">
    <div class="col-sm-1" class="sidebar-menu">
      <img id="logo" src="../../assets/img/flow.png">
      <div class="buttons">
        <button type="button" class="btn mx-auto" title="Me" (click)="goToProfile()"><i class="fa fa-info"></i></button><br>
        <button type="button" class="btn mx-auto" title="Add new user" (click)="logout()"><i class="fa fa-user-plus"></i></button><br>
        <button type="button" class="btn mx-auto" title="Add new group" (click)="logout()"><i class="fa fa-users"></i></button><br>
        <button type="button" class="btn mx-auto" title="Logout" (click)="logout()"><i class="fa fa-sign-out"></i></button><br>
      </div>
    </div>
    <div class="col-sm-9">
      tartalom
    </div>
    <div class="col-sm-2">
      <app-sidebar-names></app-sidebar-names>
    </div>
  </div>
</div>
