.groups {
    width: 100%;
    height: 60px;
    background-color: #00bfb2;
    border: 1px solid #304d6d;
    border-left: 2px solid #304d6d;
    border-right: 2px solid #304d6d;
    color: white;
}

button {
    background-color: #00bfb2;
    color: white;
    float: right;
    border: 0;
    height: 50px;
    padding-top: 10px;
    margin-left: 10px;
    width: 50px;
}

button:hover {
    color: #304d6d
}

.showfield {
    background-color: #00bfb2;
    border: 0;
    color: white;
    font-size: 30px;
    height: 56px !important;
}

.editfield {
    background-color: #00bfb2;
    border: 0;
    color: #304d6d;
    font-size: 30px;
    height: 50px !important;
    background-color: #fff8b2;
    border: 1px solid #304d6d;
    padding-left: 5px;
    margin-top: 3px;
}

.icons {
    display: flex;
    flex-wrap: nowrap;
} 